

.main{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    
    

}


.top,.bottom{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    margin:10px 0 10px 0;

}

.black,input,select{
    width:200px;

}

button{
    width:80%;
}

.top>black{
    margin:10px;

}

.bottom>button{
    margin:10px;
}

.black>p{
    margin:10px auto;
    width:50%;
    font-family:sans-serif;
    font-weight:lighter;
}

.canvas{
    border:2px solid black;
    background-image: none;
    
}
